@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http
@{
    Layout = null;
    System.Security.Claims.Claim userFirstName = null;
    System.Security.Claims.Claim userLastName = null;
    List<string> userRoleName = null;
    var UserRoleNameShowToUser = "";
}


@if (User.Identity.IsAuthenticated)
{

    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

    if (claimsIdentity != null)
    {
        userFirstName = claimsIdentity.FindFirst("Given_Name");
        userLastName = claimsIdentity.FindFirst("family_name");
        userRoleName = claimsIdentity.FindAll("role").Select(a => a.Value).ToList();
    }
}

@{
    ViewBag.lang = "fa";
}
<html lang="en" dir="@(((string)ViewBag.lang=="fa")?"rtl":"")">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->

    <link rel="icon" type="image/x-icon" href="~/PanelContent/logo/logo/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/PanelContent/logo/logo/android-chrome-512x512.png" />
    <!--plugins-->
    <!--plugins-notifications-->
    <link rel="stylesheet" href="/PanelContent/rtl/assets/plugins/notifications/css/lobibox.min.css" />

    <link href="/PanelContent/rtl/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />

    <link href="/PanelContent/rtl/assets/plugins/input-tags/css/tagsinput.css" rel="stylesheet" />

    <link href="/PanelContent/rtl/assets/plugins/smart-wizard/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />

    <!--plugins-upload-->
    <link href="/PanelContent/rtl/assets/plugins/fancy-file-uploader/fancy_fileupload.css" rel="stylesheet" />
    <link href="/PanelContent/rtl/assets/plugins/Drag-And-Drop/dist/imageuploadify.min.css" rel="stylesheet" />

    <!--plugins persian datepicker -->
    <link href="/PanelContent/rtl/assets/plugins/datetimepicker/css/classic.css" rel="stylesheet" />
    <link href="/PanelContent/rtl/assets/plugins/datetimepicker/css/classic.time.css" rel="stylesheet" />
    <link href="/PanelContent/rtl/assets/plugins/datetimepicker/css/classic.date.css" rel="stylesheet" />
    <link href="@(((string)ViewBag.lang=="fa")?"/PanelContent/rtl/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.min.css":"/PanelContent/ltr/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.min.css")" rel="stylesheet">
    <link href="/PanelContent/rtl/assets/plugins/persiandatepicker/persian-datepicker-0.4.5.min.css" rel="stylesheet" />

    <!--plugins select2 -->
    <link href="@(((string)ViewBag.lang=="fa")?"/PanelContent/rtl/assets/plugins/select2/css/select2.min.css":"/PanelContent/ltr/assets/plugins/select2/css/select2.min.css")" rel="stylesheet" />
    <link href="@(((string)ViewBag.lang=="fa")?"/PanelContent/rtl/assets/plugins/select2/css/select2-bootstrap4.css":"/PanelContent/ltr/assets/plugins/select2/css/select2-bootstrap4.css")" rel="stylesheet" />

    <!--plugins necessary -->
    <link href="/PanelContent/rtl/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="/PanelContent/rtl/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="/PanelContent/rtl/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="@(((string)ViewBag.lang=="fa")?"/PanelContent/rtl/assets/css/bootstrap.min.css":"/PanelContent/ltr/assets/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@(((string)ViewBag.lang=="fa")?"/PanelContent/rtl/assets/css/bootstrap-extended.css":"/PanelContent/ltr/assets/css/bootstrap-extended.css")" rel="stylesheet">
    <link href="@(((string)ViewBag.lang=="fa")?"/PanelContent/rtl/assets/css/app.css":"/PanelContent/ltr/assets/css/app.css")" rel="stylesheet">
    <link href="/PanelContent/rtl/assets/css/icons.css" rel="stylesheet">
    <!-- Theme Style CSS -->
    <link rel="stylesheet" href="/PanelContent/rtl/assets/css/dark-theme.css" />
    <link rel="stylesheet" href="/PanelContent/rtl/assets/css/semi-dark.css" />
    <link rel="stylesheet" href="/PanelContent/rtl/assets/css/header-colors.css" />

    <link rel="stylesheet" href="/lib/jQueryDatatable/datatables.css" />
    <link rel="stylesheet" href="/lib/jQueryDatatable/DataTables-1.12.1/css/dataTables.bootstrap5.min.css" />


    <link rel="stylesheet" href="/PanelContent/plugins/ImageViewer/imageviewer.css" />
    <link rel="stylesheet" href="/css/NewFolder/ProfilePhoto.css" type="text/css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/PanelContent/loading/loading.css" />
    @await RenderSectionAsync("Csses", required: false)
    <title>@ViewData["Title"] - سامانه مدیریت گلخانه</title>
    <script src="/css/icon/iconify-icon.min.js"></script>
    <script>
        @if (userRoleName == null || userRoleName.Any())
        {
            @: var userRoleName = '';
            @:UserRoleNameShowToUser ='';
        }
    </script>
</head>
<body class="@(((string)ViewBag.lang=="fa")?"rtl":"")">
    <!--wrapper-->
    <style>
        .logo-icon {
            width: 170px !important;
        }

        .topbar {
            z-index: 1 !important
        }

        .blockLogo {
            display: block
        }

        .noneLogo {
            display: none
        }

    </style>

    <div class="wrapper">
        <!--sidebar wrapper -->
        <div class="sidebar-wrapper" data-simplebar="true">
            <div class="sidebar-header">


                <a href="/">
                    <img id="mainLgon" src="/PanelContent/logo/logo/newLogoGreenHouseWithSideText.png" class="logo-icon " alt="logo icon">
                    <img id="smallLgon" src="/panelcontent/logo/logo/android-chrome-512x512.png" class="noneLogo" style="width:48px" alt="logo icon">
                </a>
                <div class="toggle-icon ms-auto" onclick="toggleMenu()">
                    <i class="bx bx-last-page"></i>
                </div>
                
            </div>

            <!--navigation-->
            <ul class="metismenu" id="menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="/HallManagement/GreenHouseHall">
                            <div class="parent-icon">
                                <iconify-icon icon="icon-park-outline:green-house"></iconify-icon>
                            </div>
                            <div class="menu-title">مدیریت سالن ها</div>
                        </a>
                    </li>

                    <li>
                        <a href="/SensorManagement/TemperatureSensor">
                            <div class="parent-icon">
                                <iconify-icon icon="mingcute:low-temperature-fill"></iconify-icon>
                            </div>
                            <div class="menu-title">مدیریت سنسور دما</div>
                        </a>
                    </li>

                    <li>
                        <a href="/SensorManagement/HumiditySensor">
                            <div class="parent-icon">
                                <iconify-icon icon="material-symbols:humidity-percentage-rounded"></iconify-icon>
                            </div>
                            <div class="menu-title">مدیریت سنسور رطوبت</div>
                        </a>
                    </li>

                    <li>
                        <a href="/SensorManagement/LightIntensitySensor">
                            <div class="parent-icon">
                                <iconify-icon icon="entypo:light-up"></iconify-icon>
                            </div>
                            <div class="menu-title">مدیریت سنسور نور</div>
                        </a>
                    </li>
                }
            </ul>
            <!--end navigation-->
        </div>
        <!--end sidebar wrapper -->
        <!--start header -->
        <header>
            <div class="topbar d-flex align-items-center" style="z-index: 2 !important">
                <nav class="navbar navbar-expand">
                    <div class="mobile-toggle-menu">
                        <i class='bx bx-menu'></i>
                    </div>
                    <div class="top-menu-left d-none d-lg-block">
                        <ul class="nav">
                            <li hidden class="nav-item">
                                <a class="nav-link" href="#"><i class='bx bx-envelope'></i></a>
                            </li>
                            <li hidden class="nav-item">
                                <a class="nav-link" href="#"><i class='bx bx-message'></i></a>
                            </li>
                            <li hidden class="nav-item">
                                <a class="nav-link" href="#"><i class='bx bx-check-square'></i></a>
                            </li>

                        </ul>

                    </div>
                    <div class="search-bar flex-grow-1">
                        <div class="position-relative search-bar-box">
                            <input type="text" class="form-control search-control" placeholder="جستجو ..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
                            <span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>
                        </div>
                    </div>
                    <div class="top-menu ms-auto">
                        <ul class="navbar-nav align-items-center">
                            <li hidden class="nav-item mobile-search-icon">
                                <a class="nav-link" href="#">
                                    <i class='bx bx-search'></i>
                                </a>
                            </li>
                            <li hidden class="nav-item dropdown dropdown-large">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class='bx bx-category'></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <div class="row row-cols-3 g-3 p-3">
                                        
                                    </div>
                                </div>
                            </li>
                            <li hidden class="nav-item dropdown dropdown-large">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="alert-count">7</span>
                                    <i class='bx bx-bell'></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="javascript:;">
                                        <div class="msg-header">
                                            <p class="msg-header-title">اعلان ها</p>
                                            <p class="msg-header-clear ms-auto">علامت گذاری همه به عنوان خوانده شده</p>
                                        </div>
                                    </a>
                                    <div class="header-notifications-list">
                                                                                
                                    </div>
                                    <a href="javascript:;">
                                        <div class="text-center msg-footer">مشاهده همه اعلان ها</div>
                                    </a>
                                </div>
                            </li>
                            <li hidden class="nav-item dropdown dropdown-large">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="alert-count">8</span>
                                    <i class='bx bx-comment'></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="javascript:;">
                                        <div class="msg-header">
                                            <p class="msg-header-title">پیغام ها</p>
                                            <p class="msg-header-clear ms-auto">علامت گذاری همه به عنوان خوانده شده</p>
                                        </div>
                                    </a>
                                    <div class="header-message-list">
                                    </div>
                                    <a href="javascript:;">
                                        <div class="text-center msg-footer">مشاهده همه پیغام ها</div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="user-box dropdown">
                            <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/PanelContent/logo/logo/logo-profile.jpg" class="user-img" alt="user avatar">

                                <div class="user-info ps-3">
                                    <p class="user-name mb-0">
                                        @Html.Raw(userFirstName != null ? userFirstName.Value : "") <text>&nbsp;</text> @Html.Raw(userLastName != null ? userLastName.Value : "")
                                    </p>
                                    <p class="designattion mb-0" id="nameRole"></p>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="/Home/UserProfile"><i class="bx bx-user"></i><span>پروفایل</span></a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/"><i class='bx bx-home-circle'></i><span>داشبورد</span></a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/home/UserGuide"><i class="  bx bx-message-square-error"></i><span>راهنمای کاربری</span></a>
                                </li>
                                <li>
                                    <div class="dropdown-divider mb-0"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                                        <i class='bx bx-log-out-circle'></i>
                                        خروج
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {

                        <a class="nav-link" asp-action="Login" asp-controller="Home">
                            ورود
                        </a>

                    }
                </nav>
            </div>
        </header>
        <!--end header -->
        <!--start page wrapper -->
        <div class="page-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
        <!--end page wrapper -->
        <!--start overlay-->
        <div class="overlay toggle-icon"></div>
        <!--end overlay-->
        <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->
        <footer class="page-footer">
            <span class="mb-0">کپی رایت © <span id="copyRight"></span> تمامی حقوق محفوظ است</span>  @* <span style="margin:0 5px">|</span>   <span>شماره پشتیبانی فنی: 91079127 - داخلی 180</span>*@
        </footer>
    </div>
    <!--end wrapper-->
    <!--start switcher-->
    <!--end switcher-->
    <div class="modal" id="alertProvider" role="dialog" aria-hidden="true" style="z-index:2060">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alertProvider_title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="alertProvider_inner" class="alert border-0 border-start border-5 border-success alert-dismissible fade show py-2" role="alert">
                        <div id="alertProvider_message">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--start Bootstrap JS -->
    <script src="/PanelContent/rtl/assets/js/bootstrap.bundle.min.js"></script>
    <!--end Bootstrap JS -->
    <!--start plugins-->
    <!--start necessary plugins-->
    @await RenderSectionAsync("ScriptsJqueryOlder", required: false)

    <script src="/PanelContent/rtl/assets/js/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="/scripts/common/htmlminify.js"></script>
    <script src="~/scripts/common/commonstrings.js"></script>
    <script src="~/Scripts/Common/RoleName.js"></script>
    <script src="/PanelContent/plugins/bootbox/bootbox.js"></script>
    <script src="/PanelContent/plugins/bootbox/bootbox.locales.js"></script>

    <script>
        @{
            var context = new HttpContextAccessor().HttpContext;
            var accessToken = await context.GetTokenAsync("access_token");
        }
            $(function () {
                $(document).ajaxSend(function (event, request, settings) {
                    //console.log("Setting bearer token.");
                    if (request.headers) {
                        request.headers.Authorization = 'Bearer ' + '@accessToken';
                    } else {
                        request.headers = { 'Authorization': 'Bearer ' + '@accessToken' };
                    }
                });
            });
    </script>

    <!--end necessary plugins-->

    <script src="/PanelContent/rtl/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>


    <script src="/PanelContent/rtl/assets/plugins/input-tags/js/tagsinput.js"></script>

    <script src="/PanelContent/rtl/assets/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>

    <script src='/PanelContent/rtl/assets/plugins/tinymce-rtl/tinymce.js'></script>
    <script src='@(((string)ViewBag.lang=="fa")?"/PanelContent/rtl/assets/plugins/ckeditor/ckeditor.js":"") '></script>

    <script src="/PanelContent/rtl/assets/plugins/fancy-file-uploader/jquery.ui.widget.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/fancy-file-uploader/jquery.fileupload.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/fancy-file-uploader/jquery.iframe-transport.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/fancy-file-uploader/jquery.fancy-fileupload.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/Drag-And-Drop/dist/imageuploadify.min.js"></script>

    <script src="/PanelContent/rtl/assets/plugins/datetimepicker/js/legacy.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/datetimepicker/js/picker.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/datetimepicker/js/picker.time.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/datetimepicker/js/picker.date.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/persiandatepicker/persian-date-0.1.8.min.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/persiandatepicker/persian-datepicker-0.4.5.min.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/bootstrap-material-datetimepicker/js/moment.min.js"></script>

    <script src="/PanelContent/rtl/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.min.js"></script>

    <script src="/PanelContent/rtl/assets/plugins/select2/js/select2.min.js"></script>

    <!--notification js -->
    <script src="/PanelContent/rtl/assets/plugins/notifications/js/lobibox.min.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/notifications/js/notifications.min.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/notifications/js/notification-custom-script.js"></script>

    <!--jalali-moment js -->
    <script src="/PanelContent/ltr/assets/plugins/jalali-moment/jalali-moment.browser.js"></script>
    <script>
        var getDateNow = moment().locale('fa').format('YYYY');
        document.getElementById('copyRight').innerHTML = getDateNow;
    </script>

    <!--chart js -->
    @*     <script src="/PanelContent/rtl/assets/plugins/chartjs/js/Chart.min.js"></script>
    <script src="/PanelContent/rtl/assets/plugins/chartjs/js/chartjs-custom.js"></script>*@

    <!--image viewer js -->
    <script src="/PanelContent/plugins/ImageViewer/imageviewer.min.js"></script>


    <!-- highcharts js -->
    <script src="/PanelContent/loading/loading.js"></script>

    <script src="/PanelContent/plugins/cleave/cleave.min.js"></script>
    <script src="/PanelContent/plugins/cleave/cleavePhone.js"></script>
    <script src="/PanelContent/plugins/PersianTools/persian-tools.js"></script>
    <script src="/Scripts/Plugins/common/drapdownPlugin.js"></script>

    <script src="/js/site.js"></script>
    <script src="~/scripts/notify.min.js"></script>
    <!--end plugins-->
    <!--start app JS-->
    <script src="/PanelContent/rtl/assets/js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("LastScripts", required: false)

    <script>
        $(function () {
            $('[data-bs-toggle="popover"]').popover();
            $('[data-bs-toggle="tooltip"]').tooltip();

            $.ajaxSetup({
                error: function (x, e) {
                    if (x.status == 401) {
                        window.location.replace(x.getResponseHeader("login-address"));
                    }
                }
            });
        });
    </script>
    <script>
        document.getElementById("nameRole").innerHTML = GetRoleName("@userRoleName?[0].ToString()");

        function toggleMenu() {

            var smallLgon = document.getElementById("smallLgon");
            smallLgon.classList.toggle("noneLogo");

            var mainLgon = document.getElementById("mainLgon");
            mainLgon.classList.toggle("noneLogo");
        }
    </script>
    <!--end app JS-->

</body>

</html>